:root {
  --bgColor: #FFFFFF;
  --textColor: #1E2E36;
  --whiteTextColor: #ffffff;
  --accentColor: #44C697;
  --secondTextColor: #BCBDBB;
  --secondAccentColor: #FF1B1B;
  --time: 250ms;
  --duration: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1920px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-width: var(--mobile);
  margin: 0;
  color: var(--textColor);
  background-color: var(--bgColor);
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 10px;
  }
}
@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1920px) {
  .section {
    max-width: 1920px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}

.title__line {
  position: relative;
}
.title__line span {
  position: relative;
  z-index: 2;
}
.title__line::before {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  z-index: 2;
  top: 0;
  left: -2px;
  background-color: var(--accentColor);
}
@media screen and (min-width: 1920px) {
  .title__line::before {
    width: 20px;
    left: -5px;
  }
}

.btn {
  display: block;
  padding: 14px 46px;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--whiteTextColor);
  background-color: var(--accentColor);
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .btn {
    font-size: 18px;
  }
}

.categories__btn {
  margin: 30px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .categories__btn {
    margin: 50px auto 0 auto;
  }
}

.form__btn {
  width: 100%;
}

.section__products {
  padding: 0 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section__products {
    padding: 0 30px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .section__products {
    padding: 0 51px;
    margin-bottom: 100px;
  }
}

.products__list {
  margin-bottom: 44px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .products__list {
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1920px) {
  .products__list {
    grid-template-columns: repeat(6, 1fr);
    gap: 200px;
    margin-bottom: 84px;
  }
}

.products__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--textColor);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__link {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .products__link {
    font-size: 24px;
  }
}
.products__link:hover .products__svg, .products__link:focus .products__svg {
  fill: var(--accentColor);
}
.products__link:hover .products__label::after, .products__link:focus .products__label::after {
  background-color: var(--accentColor);
}

.products__svg {
  fill: var(--textColor);
  transition: fill var(--time) var(--duration);
}

.products__label {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .products__label {
    margin-top: 10px;
  }
}
.products__label::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: transparent;
  padding-top: 3px;
  transition: background-color var(--time) var(--duration);
}

.cards__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cards__list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -50px;
  }
}

.cards__item {
  position: relative;
  transition: transform var(--time) var(--duration), background-color var(--time) var(--duration), color var(--time) var(--duration);
}
@media screen and (max-width: 767px) {
  .cards__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .cards__item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 30px;
    margin-top: 50px;
  }
}
.cards__item:hover, .cards__item:focus {
  transform: translateY(-25px);
  transition: transform var(--time) var(--duration);
}
.cards__item:hover .cards__description, .cards__item:focus .cards__description {
  background-color: var(--accentColor);
  transition: background-color var(--time) var(--duration);
}
.cards__item:hover .cards__label,
.cards__item:hover .cards__price,
.cards__item:hover .cards__price-old, .cards__item:focus .cards__label,
.cards__item:focus .cards__price,
.cards__item:focus .cards__price-old {
  color: var(--whiteTextColor);
  transition: color var(--time) var(--duration);
}

.cards__link {
  display: block;
  color: var(--textColor);
}

.cards__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cards__description {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .cards__description {
    padding: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .cards__description {
    padding: 15px;
  }
}

.cards__label,
.cards__price {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .cards__label,
  .cards__price {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .cards__label,
  .cards__price {
    font-size: 24px;
  }
}

.cards__price-wrapper {
  display: flex;
  align-items: end;
}

.cards__price-old {
  font-weight: 700;
  font-size: 8px;
  text-transform: uppercase;
  text-decoration-line: line-through;
  color: #BCBDBB;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .cards__price-old {
    font-size: 10px;
    margin-left: 7px;
  }
}
@media screen and (min-width: 1920px) {
  .cards__price-old {
    font-size: 18px;
    margin-left: 10px;
  }
}

.cards__mark {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 5px 15px;
  background-color: var(--textColor);
  font-weight: 700;
  font-size: 10px;
  color: var(--whiteTextColor);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .cards__mark {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .cards__mark {
    font-size: 18px;
  }
}

.cards__mark-sale {
  background-color: var(--secondAccentColor);
  top: 48px;
}

.section__about {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section__about {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .section__about {
    margin-bottom: 100px;
  }
}

.about__wrapper {
  position: relative;
}

.about__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-left: auto;
    width: 80%;
  }
}
@media screen and (min-width: 1920px) {
  .about__img {
    width: 1407px;
  }
}

.about__description {
  background-color: var(--bgColor);
  border-right: 15px solid var(--accentColor);
  border-radius: 0px 3px 3px 0px;
}
@media screen and (max-width: 768px) {
  .about__description {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .about__description {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 15px 5px 15px 15px;
    width: 50%;
  }
}
@media screen and (min-width: 1920px) {
  .about__description {
    padding: 50px 30px 50px 50px;
    width: 790px;
  }
}

.description__text:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .description__text:not(:last-child) {
    margin-bottom: 15px;
  }
}
.description__text span {
  color: var(--accentColor);
}

.section__question {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section__question {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .section__question {
    margin-bottom: 100px;
  }
}

.question__wrapper {
  position: relative;
}

.question__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .question__img {
    margin-right: auto;
    width: 80%;
  }
}
@media screen and (min-width: 1920px) {
  .question__img {
    width: 1561px;
  }
}

.question__description {
  background-color: var(--bgColor);
  border-left: 15px solid var(--accentColor);
  border-radius: 3px 0px 0px 3px;
}
@media screen and (max-width: 768px) {
  .question__description {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .question__description {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px 50px 10px 15px;
    width: 50%;
  }
}
@media screen and (min-width: 1920px) {
  .question__description {
    padding: 50px 50px 50px 30px;
    width: 528px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .form__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .form__title {
    margin-bottom: 30px;
    font-size: 36px;
  }
}

.form__input {
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 15px;
  border: 1px solid var(--textColor);
  border-radius: 3px;
  background-color: var(--bgColor);
  color: var(--textColor);
}
.form__input, .form__input:active {
  background-color: var(--bgColor);
}
.form__input::placeholder {
  color: rgba(30, 46, 54, 0.6);
}

.form__description {
  margin-top: 30px;
}
.form__description span {
  white-space: nowrap;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .form__description {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .form__description {
    margin-top: 30px;
  }
}/*# sourceMappingURL=main.css.map */