.logo__wrapper {
    display: flex;
    align-items: center;

    &.black {
        @media screen and (max-width: 1400px) {
            margin: 0 auto;
        }
    }
}

.logo__title {
    font-weight: 700;
    font-size: 26px;
    margin-left: 10px;
    color: var(--whiteTextColor);

    @media screen and (min-width: $tablet) {
        font-size: 30px;
    }
    @media screen and (min-width: $tablet) {
        font-size: 36px;
        margin-left: 15px;
    }

    span {
        color: var(--accentColor);
    }

    &.black {
        color: var(--textColor);
        @media screen and (min-width: 1400px) {
            span {
               width: 125px;
                height: 75px;
            }
        }
    }
}

.logo__svg {
    fill: var(--whiteTextColor);
    &.black {
        fill: var(--textColor);
    }
}