.logo__wrapper {
    display: flex;
    align-items: center;
}

.logo__title {
    font-weight: 700;
    font-size: 26px;
    margin-left: 10px;
    color: var(--whiteTextColor);

    @media screen and (min-width: $tablet) {
        font-size: 30px;
    }
    @media screen and (min-width: $tablet) {
        font-size: 36px;
        margin-left: 15px;
    }

    span {
        color: var(--accentColor);
    }

    &.black {
        color: var(--textColor);
    }
}

.logo__svg {
    fill: var(--whiteTextColor);
    &.black {
        color: var(--textColor);
    }
}